html
  head
    title= 'Learning Node JS'
    block scripts
      script(src='/js/main.js')
    block styles
      link(href='/style/style.css', rel='stylesheet')
  body
    block content
    block foot
