html
  head
    title= 'Learning Node JS'
    block styles
      link(href='/style/style.css', rel='stylesheet')
      link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    div(class='container')
      div(class='row')
        div(class='col-xs-12')
        block content


    block foot

    block scripts
      script(src='/build/main.min.js')
      script(src='/lib/jquery/dist/jquery.min.js')
