html
    head
        title= 'Learning Node JS'
        block styles
            link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
            link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
            link(href='/style/style.css', rel='stylesheet')
    body
      include shared/head.pug
      div(class='container-fluid')
        div(class='row')
          div(class='col-xs-12')
            block content
    block foot
    block scripts
        script(src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js")
        script.
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAMbFkTm2r6ty6UV4hvrJZLrXRpqKji8Hc",
                authDomain: "learningnodejs-a4e65.firebaseapp.com",
                databaseURL: "https://learningnodejs-a4e65.firebaseio.com",
                storageBucket: "learningnodejs-a4e65.appspot.com",
            };
            firebase.initializeApp(config);
        script(src='/build/firebase_auth.min.js')
        script(src='/build/main.min.js')
        script(src='/build/searchIt.min.js')
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
